@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/0b3r8ort0i9mlmgm3bxxf_eszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/guc5lwt5dw7anv_xfpcgqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(../fonts/obisuy-menyrafwd-r2nhfeszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(../fonts/ursgp3aplsko3cqazdxhwpeszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(../fonts/luunk03-usz9lnb7oneuuveszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(../fonts/t4jvhtpmhbjlr73o1ylmo_eszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
